.topbar {
  @include shadow;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $reva-white;

  a {
    width: 5rem;
    height: 2rem;
    padding: 0.5rem 1rem;
    color: white;
    background-color: $reva-dark;
    text-align: center;
    transition: transform ease-in-out 0.1s, background-color ease-in-out 0.1s;

    &:not(.downloading):hover,
    &:not(.downloading):focus-visible {
      transform: scale(1.2);
      color: white;
      background-color: $reva-light;
    }

    &:not(.downloading):active {
      transform: scale(1.1);
    }

    &.downloading {
      pointer-events: none;
      padding: 0;
      background-color: $reva-ligther;

      svg {
        margin-top: -1rem;
      }
    }

    &.displaynone {
      display: none;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    .group {
      width: 100%;
    }

    a {
      width: 100%;
      text-align: center;
    }
  }
}
